body {
    background: rgb(31,31,32);
    background: linear-gradient(90deg, rgba(31,31,32,1) 0%, rgba(73,73,64,1) 61%, rgba(80,80,63,1) 86%, rgba(93,93,60,1) 100%);
}

.navbar {
    background-color: transparent;
    border-radius: 5px;
    /* border: 1px solid white; */
    font-family: 'Poppins';
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar-button {
    padding: 10px 20px 10px 20px;
    margin: 10px 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.nav-logo {
    width: 35px;
    height: 35px;
}

.nav-logo-box {
    float: left;
    margin: 5px 5px 5px 5px;
}

.nav-icons {
    color: white;
    margin: 10px 10px;
    display: inline-block;
    margin: 0px 15px 0px 15px;
}

.nav-right {
    float: right;
    margin: 0px 30px;
}

.middle-container {
    text-align: center;
    color: white;
    margin: 0 0 10px 0;
}

.middle-container h1 {
    font-family: 'Anton';
    margin: 20px 0 20px 0;
    color: #ffffff;
    font-weight: 800;
    font-size: 64px;
}

span {
    color: goldenrod;
}

p{
    font-family: 'Poppins';
}

.middle-button {
    margin: 50px 0 50px 0;
    text-align: center;
}

.middle-btn {
    padding: 15px 30px 15px 30px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 24px;
    background: rgb(58, 58, 156);
    background: linear-gradient(90deg, rgb(72, 72, 126) 0%, rgb(92, 60, 165) 61%, rgb(133, 63, 194)86%, rgb(109, 21, 186) 100%);
    color: black;
    font-weight: 400;
}

.btn-icon {
    display: inline-block;
    background-color: goldenrod;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 20px;
    border-radius: 100%;
}

.card-container {
    margin: 0 0 50px 0;
    padding: 20px 100px 20px 100px;
    display: inline-block;
}

.card {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 0 20px 0 0;
    border-radius: 10px;
}

.card-image {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: inline-block;
}

.main-card-button {
    border-radius: 50px;
    padding: 10px 0px 0px 0px;
    margin: -85px 45px 20px 45px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-icon {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid white;
    margin: 0 20px 0 0;
}

.card-price {
    display: inline-block;
    color: #ffffff;
    margin: 0 20px 0 0;
}

.card-button {
    display: inline-block;
}

.card-btn {
    color: black;
    display: inline-block;
    background-color: goldenrod;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px 20px 10px 20px;
}