body {
    background: rgb(31,31,32);
    background: linear-gradient(90deg, rgba(31,31,32,1) 0%, rgba(73,73,64,1) 61%, rgba(80,80,63,1) 86%, rgba(93,93,60,1) 100%);
}

.navbar {
    background-color: transparent;
    border-radius: 5px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar-button {
    padding: 10px 20px 10px 20px;
    margin: 10px 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.nav-logo {
    width: 35px;
    height: 35px;
}

.nav-logo-box {
    float: left;
    margin: 5px 5px 5px 5px;
}

.nav-icons {
    color: white;
    margin: 10px 10px;
    display: inline-block;
    margin: 0px 15px 0px 15px;
}

.nav-right {
    float: right;
    margin: 0px 30px;
}